html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #ceeffa;
}
.grid {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  height: 90vh;
}
.navbar {
  grid-column: 1 / 4;
  text-align: left;
  font-size: 2em;
}
.navbar-brand {
  color: #fafdfe;
  font-size: 1em;
}
.navbar-toggle-icon {
  background-color: #ceeffa;
}
h2 {
  color: #fafdfe;
}
/* header {
  grid-column: 1 / 4;
  text-align: left;
  font-size: 2em;
} */
footer {
  grid-column: 1 / 4;
  /* grid-area: footer; */
  text-align: center;
  /* background-color: blanchedalmond; */
  font-size: small;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header,
aside,
article {
  font-family: Lucida;
  min-height: 100%;
  display: grid;
  grid-template-columns: 100%;
}
.navbar {
  margin-top: 0;
  padding-top: 0;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}
.container-fluid {
  background-color: #252c41;
}
button {
  color: #ec5c3b;
}
.img-lead {
  border-radius: 50%;
}

.bio {
  margin: auto;
  text-align: center;
  color: #020a36;
  font-weight: 800;
  /* background-color: #ec5c3b; */
}
div {
  margin: auto;
}
.article {
  align-content: center;
  text-align: center;
}

.github:link {
  color: #2c3e72;
}

.row {
  margin: auto;
  gap: 15px;
  display: flex;
  flex-shrink: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.card {
  height: 35rem;
}
.btn {
  background-color: #ec5c3b;
}
